body{
	font-family: Tahoma, Helvetica, sans-serif;
}
p, body {
	font-size: 0.9em;
}

footer{
	color: white;
	background-color: #474747;
	height: 200px;
	padding-top: 0.7em;
	padding-left: 0.7em;
	padding-right: 3em;
}

.already {
  display:block;
  text-align:center;
  font-size:12px;
  color:#6f7a85;
  opacity:0.9;
  text-decoration:none;
}

.primaryButton:active {
  transform:translateY(1px);
}

.primaryButton:hover, .primaryButton:active {
  background:#eb3b60;
}

.primaryButton {
  background:#f4476b;
  border:none;
  border-radius:4px;
  padding:11px;
  box-shadow:none;
  margin-top:35px;
  text-shadow:none;
  outline:none;
}

.checkbox {
  font-size:13px;
  line-height:20px;
}

.formControl {
  background:#f7f9fc;
  border:none;
  border-bottom:1px solid #dfe7f1;
  border-radius:0;
  box-shadow:none;
  outline:none;
  color:inherit;
  text-indent:6px;
  height:40px;
  width: 20em;
}

.highlight{
	background-color:red;
	border:none;
	border-bottom:1px solid #dfe7f1;
	border-radius:0;
	box-shadow:none;
	outline:none;
	color:inherit;
	text-indent:6px;
	height:40px;
	width: 29em;
}

h2 {
  font-size:24px;
  line-height:1.5;
  margin-bottom:30px;
}

#main{
	margin-left: 20em;
	width: 25em;
	border: solid 1px black;
}

#main form {
  display:table-cell;
  width:400px;
  background-color: #53cbf1;
  padding:40px 60px;
  color:#505e6c;
}